<!DOCTYPE html>

<html>
    <head>
        <title>Body Parser Demo Module</title>
    </head>
    <body>
        <h1>Demo Form</h1>
        <form method="POST" action="saveData">
            <pre>
                Enter your email: <input type="text" name="email" /><br />
                <input type="submit" value="Submit Form" />
            </pre>
        </form>
    </body>
</html>
